@import "bootstrap/bootstrap.scss";

@import url('https://fonts.googleapis.com/css?family=Lora:400i,Lato:700');

$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;

@import "components/Loader";
@import "components/Hero";
@import "components/Header";
@import "components/LeftNav";
@import "components/hamburgers";
@import "components/FeatureCard";
@import "components/overlay";
@import "components/scrollspy";
@import "components/FooterNav";
@import "components/ResponsiveTable";

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

.section {
  padding: 3rem;
}

main {
  display: flex;
  width: 100%;
}

small {
  font-size: .8rem;
  line-height: 1rem;
}

.site-content {
  width: 100%;
  // overflow: hidden;
}

.post-content {
  font-size: 20px;
  line-height: 2.4rem;
  a {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid $primary;
    @include hover {
      border-bottom-width: 4px;
    };
  }
  img {
    max-width: 100%;
    height: auto;
  }
  // typography
  h1 {
    color: $primary;
    font-family: 'Lato';
    font-weight: 700;
  }
  h2 {
    font-size: 40px;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    margin-top: 3rem;
  }
  h3 {
    font-family: 'Lato';
    font-weight: 700;
    color: $primary;
  }
}

.post-nav {
  width: 100%;
  padding: 50px;
  display: block;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  &__item {
    background-color: $gray-200;
    transition: 500ms ease background-color;
    &:hover {
      background-color: $gray-300;
    }
  }
  &__link {
    display: block;
    padding: 50px;
    width: 100%;
    height: 100%;
    transition: 500ms ease transform;
    &:hover {
      text-decoration: none;
      transform: translateY(-5px);
    }
  }
}

.btn_print {
  border-radius: 0;
  background-color: darken($primary, 5%);
  padding: 10px 20px;
}
