.FeatureCard {
  // box-shadow: 0 0 5px rgba(0,0,0,.7);
  border-bottom: none !important;
  border: none !important;
  margin-bottom: 2rem;
  border-radius: 5px !important;
  overflow: hidden;
  position: relative;
  transition: 200ms cubic-bezier(.3,0,.3,1) all;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: $primary;
    opacity: .97;
    transition: 250ms cubic-bezier(.6,0,.4,1) width;
    z-index: 2;
  }
  &:hover:after {
    width: 100%;
  }
  .card-title {
    z-index: 3;
    position: relative;
  }
  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }

}
