.FeatureCard {
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  border-bottom: none !important;
  border: none !important;
  margin-bottom: 2rem;
  border-radius: 5px !important;
  overflow: hidden;
  transition: 400ms cubic-bezier(.3,0,.3,1) all;
  .card-title {
    z-index: 3;
    position: relative;
  }
  @media (hover: hover) {
    &:hover {
      box-shadow: 0 2px 20px rgba(0,0,0,.5);
      transform: translateY(-5px);
      text-decoration: none;
    }
  }

}
